.button-primary{
    padding: 10px 7px;
    background-color: #00A2DC;
    color: #fff;
    border: none;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}
.button-primary-a{
    background-color: #00A2DC;
    color: #fff;
    border: none;
    font-weight: 400;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
    padding: 12px 10px;

}
a{
    text-decoration: none;
}
input{
    box-sizing: border-box;
    outline: none;
}
.plr4{
    padding: 0 120px;
}
.plr2{
    padding: 0 30px;
}
.pt1{
    padding-top:20px ;
}
.pb1{
    padding-bottom: 20px !important;
}
.ptb2{
    padding: 20px 0;
}
.mtb2{
    margin: 20px 0;
}
.mt2{
    margin-top: 20px;
}
.mb1{
    margin-bottom: 10px;
}
.mr2{
    margin-right: 30px;
}
.g3{
    gap: 15px;
}
.g2{
    gap: 10px;
}
.df{
    display: flex;
}
.flex-d{
    flex-direction: column;
}
.jcsb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.fdc{
    flex-direction: column;
}
.error{
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
